{% extends "index.html" %}

{% block titulo %}
<h1 class="mx-auto my-0 text-uppercase"> personajes </h1>
{%  endblock titulo %}

{% block contenido %}
            
<table>
    <tr>
        <td width="200"><h2>personajes</h2></td>
        <td>
        {% if  user.is_staff %}        
            <a
            href="{% url 'personajesCreate' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" tittle="crear"> </i>
            </a>
        {% endif %}
            <a
            href="{% url 'buscarPersonajes' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa-solid fa-magnifying-glass" tittle="buscar"> </i>
            </a>
        </td>
    </tr>
</table>     


<table class="table">
    <thread>
        <tr>
            <th>nombre</th>
            <th>especie</th>
            <th>habilidades</th>
            <th>imagen</th>
        {% if  user.is_staff %}           
            <th>acciones</th> 
        {% endif %}               
        </tr>   
    </thread>
    <tbody>
    {% for p in personajes_list %}    
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.especie }}</td>
            <td>{{ p.habilidades }}</td>
            <td><img src="/media/{{ p.imagen }}" height="100px" weight="100px"/></a> </td>
        {% if  user.is_staff %}           
            <td>
                <a
                  href ="{% url 'personajesUpdate' p.id%}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" tittle="Edit Record"></i>
                </a>  
                <a
                  href ="{% url 'personajesDelete' p.id%}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" tittle="delete Record"></i>
                </a>  
            {% endif %}    
            <td>
        </tr>
    {% endfor %}
    </tbody>
</table>
                    
{%  endblock contenido %}    