{% extends "index.html" %}


{% block titulo %}
<h1 class="mb-5">Sobre mi</h1>
{% endblock titulo %}


{% block contenido %}
<p>  Mi nombre es Valentina y tengo 18 años. Recién me gradué del colegio y estoy emocionada por lo que el futuro tiene reservado para mí. Una de las cosas que más me apasiona es el mundo es aprender. Aunque apenas estoy comenzando, estoy decidida a aprender todo lo que pueda sobre este fascinante campo. Es por eso que tengo planes de estudiar ingeniería, para adquirir las habilidades necesarias y convertirme en una programadora competente. 
    Además de mi interés por la tecnología, también tengo una profunda fascinación por las mitologías de diferentes culturas. Desde que era chiquita, me ha maravillado la forma en que estas historias transmiten enseñanzas y valores, y cómo han influido en la forma en que los seres humanos comprenden el mundo que nos rodea. Es por eso que decidi crear esta pagina.


{% endblock contenido %}